<!DOCTYPE html>
<html lang="en">
  <%- include('../admin-partials/header.ejs') %>

  <body >
    <div >
      <div >
      
        <!-- page content -->
        <%- include('../admin-pages/ProgContest/editTeam-content.ejs') %>
        <!-- /page content -->

        
      </div>
    </div>
    <%- include('../admin-partials/scripts.ejs') %>
  </body>
</html>
