<!DOCTYPE html>
<html lang="en">
   

  <body class="nav-md">
    <%- include('../admin-partials/scripts.ejs') %>

        <!-- page content -->
        <%- include('../admin-pages/mo/edit-participant-content.ejs') %>
        <!-- /page content -->

      
    
  </body>
</html>
